body {
  font-family: 'Helvetica Neue', Helvetica;
  background: #f5f6f7;
  color: #141414;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  font-weight: 300; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }


  /* =========================

    GENERAL STYLES

   =========================*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }


}
